# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [2]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print (xs,'\n')
print (xs.index,'\n')
# Values of the Series are actually a numpy array
print (xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')

a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
s[1:] + s[:-1]

a         NaN
b   -2.582672
c   -2.333460
d   -3.043825
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
date = dt.datetime(2018,11,19,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 19 2018'
date = '19/11/2018 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2018-11-19 14:45:10.000015
19/11/2018 14:45:00
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-20 14:45:00',
               '2018-11-21 14:45:00', '2018-11-22 14:45:00',
               '2018-11-23 14:45:00', '2018-11-24 14:45:00',
               '2018-11-25 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 14:45:01',
               '2018-11-19 14:45:02', '2018-11-19 14:45:03',
               '2018-11-19 14:45:04', '2018-11-19 14:45:05',
               '2018-11-19 14:45:06', '2018-11-19 14:45:07',
               '2018-11-19 14:45:08', '2018-11-19 14:45:09',
               ...
               '2018-11-19 15:44:50', '2018-11-19 15:44:51',
               '2018-11-19 15:44:52', '2018-11-19 15:44:53',
               '2018-11-19 15:44:54', '2018-11-19 15:44:55',
               '2018-11-19 15:44:56', '2018-11-19 15:44:57',
               '2018-11-19 15:44:58', '2018-11-19 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [7]:
tstamp = pd.Timestamp(dt.datetime(2018, 11, 19))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
print (pd.to_datetime('2010/11/12', format='%Y/%m/%d'))
print (pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M'))

1542585600000000000
2010-11-12 00:00:00
2010-11-12 00:00:00

A standard series can be created and (range of) elements can be used as indexes

In [8]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2018-11-19':'2018-11-21'], '\n') # Note - includes end time

2018-11-19 14:45:00     9.808337
2018-11-20 14:45:00     9.480641
2018-11-21 14:45:00    10.308112
2018-11-22 14:45:00     9.442303
Freq: D, dtype: float64

2018-11-19 14:45:00     9.808337
2018-11-20 14:45:00     9.480641
2018-11-21 14:45:00    10.308112
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [9]:
pd.to_datetime([1, 2, 3], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [10]:
entries=10
dates=pd.date_range('19/11/2018 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2018-11-19 14:45:00 -0.163372  0.500093 -0.698843  0.064792
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  0.158112
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086 -0.613705
2018-11-19 17:45:00  0.094161 -0.173355  0.115978 -0.959757
2018-11-19 18:45:00  0.393532 -0.858410  0.110881 -0.581372
2018-11-19 19:45:00  0.826143 -0.998163 -1.217725  1.457055
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385 -0.008660
2018-11-19 21:45:00  0.431270  2.122598  0.406849  2.380241
2018-11-19 22:45:00 -0.577705 -0.556785  0.735481 -0.541726
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563 -0.933689

or by means of a dictionary:

In [11]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )

In [12]:
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [13]:
df.head()

                            A         B         C         D
2018-11-19 14:45:00 -0.163372  0.500093 -0.698843  0.064792
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  0.158112
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086 -0.613705
2018-11-19 17:45:00  0.094161 -0.173355  0.115978 -0.959757
2018-11-19 18:45:00  0.393532 -0.858410  0.110881 -0.581372

In [14]:
df.tail(4)

                            A         B         C         D
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385 -0.008660
2018-11-19 21:45:00  0.431270  2.122598  0.406849  2.380241
2018-11-19 22:45:00 -0.577705 -0.556785  0.735481 -0.541726
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563 -0.933689

In [15]:
df.index

DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 15:45:00',
               '2018-11-19 16:45:00', '2018-11-19 17:45:00',
               '2018-11-19 18:45:00', '2018-11-19 19:45:00',
               '2018-11-19 20:45:00', '2018-11-19 21:45:00',
               '2018-11-19 22:45:00', '2018-11-19 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.values

array([[-0.16337213,  0.50009283, -0.69884255,  0.06479166],
       [-1.44034674,  0.60390465, -0.10295433,  0.1581121 ],
       [-1.94668526, -0.46982233, -0.33908584, -0.61370518],
       [ 0.09416065, -0.17335527,  0.11597756, -0.95975721],
       [ 0.39353197, -0.85841043,  0.11088138, -0.5813719 ],
       [ 0.82614294, -0.99816263, -1.21772486,  1.45705463],
       [-0.28864766, -0.72919355, -0.02738486, -0.00866017],
       [ 0.43126966,  2.12259796,  0.40684895,  2.38024098],
       [-0.57770521, -0.55678539,  0.73548145, -0.54172615],
       [-0.83226106,  1.53807876, -0.23556257, -0.93368949]])

In [18]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.350391   0.097894  -0.125237   0.042129
std     0.869552   1.065405   0.550597   1.085310
min    -1.946685  -0.998163  -1.217725  -0.959757
25%    -0.768622  -0.686092  -0.313205  -0.605622
50%    -0.226010  -0.321589  -0.065170  -0.275193
75%     0.318689   0.577952   0.114704   0.134782
max     0.826143   2.122598   0.735481   2.380241

In [19]:
df.T

,2018-11-19 14:45:00,2018-11-19 15:45:00,2018-11-19 16:45:00,2018-11-19 17:45:00,2018-11-19 18:45:00,2018-11-19 19:45:00,2018-11-19 20:45:00,2018-11-19 21:45:00,2018-11-19 22:45:00,2018-11-19 23:45:00
A,-0.163372,-1.440347,-1.946685,0.094161,0.393532,0.826143,-0.288648,0.431270,-0.577705,-0.832261
B,0.500093,0.603905,-0.469822,-0.173355,-0.858410,-0.998163,-0.729194,2.122598,-0.556785,1.538079
C,-0.698843,-0.102954,-0.339086,0.115978,0.110881,-1.217725,-0.027385,0.406849,0.735481,-0.235563
D,0.064792,0.158112,-0.613705,-0.959757,-0.581372,1.457055,-0.008660,2.380241,-0.541726,-0.933689

In [20]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2018-11-19 14:45:00  0.064792 -0.698843  0.500093 -0.163372
2018-11-19 15:45:00  0.158112 -0.102954  0.603905 -1.440347
2018-11-19 16:45:00 -0.613705 -0.339086 -0.469822 -1.946685
2018-11-19 17:45:00 -0.959757  0.115978 -0.173355  0.094161
2018-11-19 18:45:00 -0.581372  0.110881 -0.858410  0.393532
2018-11-19 19:45:00  1.457055 -1.217725 -0.998163  0.826143
2018-11-19 20:45:00 -0.008660 -0.027385 -0.729194 -0.288648
2018-11-19 21:45:00  2.380241  0.406849  2.122598  0.431270
2018-11-19 22:45:00 -0.541726  0.735481 -0.556785 -0.577705
2018-11-19 23:45:00 -0.933689 -0.235563  1.538079 -0.832261

In [21]:
df.sort_values(by="C")

                            A         B         C         D
2018-11-19 19:45:00  0.826143 -0.998163 -1.217725  1.457055
2018-11-19 14:45:00 -0.163372  0.500093 -0.698843  0.064792
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086 -0.613705
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563 -0.933689
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  0.158112
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385 -0.008660
2018-11-19 18:45:00  0.393532 -0.858410  0.110881 -0.581372
2018-11-19 17:45:00  0.094161 -0.173355  0.115978 -0.959757
2018-11-19 21:45:00  0.431270  2.122598  0.406849  2.380241
2018-11-19 22:45:00 -0.577705 -0.556785  0.735481 -0.541726

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [22]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2018-11-19 14:45:00   -0.163372
2018-11-19 15:45:00   -1.440347
2018-11-19 16:45:00   -1.946685
2018-11-19 17:45:00    0.094161
2018-11-19 18:45:00    0.393532
2018-11-19 19:45:00    0.826143
2018-11-19 20:45:00   -0.288648
2018-11-19 21:45:00    0.431270
2018-11-19 22:45:00   -0.577705
2018-11-19 23:45:00   -0.832261
Freq: H, Name: A, dtype: float64

2018-11-19 14:45:00   -0.163372
2018-11-19 15:45:00   -1.440347
2018-11-19 16:45:00   -1.946685
2018-11-19 17:45:00    0.094161
2018-11-19 18:45:00    0.393532
2018-11-19 19:45:00    0.826143
2018-11-19 20:45:00   -0.288648
2018-11-19 21:45:00    0.431270
2018-11-19 22:45:00   -0.577705
2018-11-19 23:45:00   -0.832261
Freq: H, Name: A, dtype: float64

In [23]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2018-11-19 14:45:00":"2018-11-19 16:45:00"])

                            A         B         C         D
2018-11-19 14:45:00 -0.163372  0.500093 -0.698843  0.064792
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  0.158112
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086 -0.613705
                            A         B         C         D
2018-11-19 14:45:00 -0.163372  0.500093 -0.698843  0.064792
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  0.158112
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086 -0.613705

### Selection by label

In [24]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A   -0.163372
B    0.500093
C   -0.698843
D    0.064792
Name: 2018-11-19 14:45:00, dtype: float64

In [25]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2018-11-19 14:45:00 -0.163372  0.500093
2018-11-19 15:45:00 -1.440347  0.603905
2018-11-19 16:45:00 -1.946685 -0.469822
2018-11-19 17:45:00  0.094161 -0.173355
2018-11-19 18:45:00  0.393532 -0.858410
2018-11-19 19:45:00  0.826143 -0.998163
2018-11-19 20:45:00 -0.288648 -0.729194
2018-11-19 21:45:00  0.431270  2.122598
2018-11-19 22:45:00 -0.577705 -0.556785
2018-11-19 23:45:00 -0.832261  1.538079

In [26]:
# showing label slicing, both endpoints are included:
df.loc['2018-11-19 18:45:00':'2018-11-19 20:45:00',['A','B']]

                            A         B
2018-11-19 18:45:00  0.393532 -0.858410
2018-11-19 19:45:00  0.826143 -0.998163
2018-11-19 20:45:00 -0.288648 -0.729194

In [27]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-1.4403467392218154
-1.4403467392218154

### Selecting by position

In [28]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.094161
B   -0.173355
C    0.115978
D   -0.959757
Name: 2018-11-19 17:45:00, dtype: float64

                            A         B
2018-11-19 17:45:00  0.094161 -0.173355
2018-11-19 18:45:00  0.393532 -0.858410

In [29]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2018-11-19 15:45:00 -1.440347 -0.102954
2018-11-19 16:45:00 -1.946685 -0.339086
2018-11-19 18:45:00  0.393532  0.110881

In [30]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  0.158112
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086 -0.613705

                            B         C
2018-11-19 14:45:00  0.500093 -0.698843
2018-11-19 15:45:00  0.603905 -0.102954
2018-11-19 16:45:00 -0.469822 -0.339086
2018-11-19 17:45:00 -0.173355  0.115978
2018-11-19 18:45:00 -0.858410  0.110881
2018-11-19 19:45:00 -0.998163 -1.217725
2018-11-19 20:45:00 -0.729194 -0.027385
2018-11-19 21:45:00  2.122598  0.406849
2018-11-19 22:45:00 -0.556785  0.735481
2018-11-19 23:45:00  1.538079 -0.235563

In [31]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.6039046516583755

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [32]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2018-11-19 14:45:00 -0.163372  0.500093 -0.698843  0.064792
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  0.158112
2018-11-19 21:45:00  0.431270  2.122598  0.406849  2.380241
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563 -0.933689

In [33]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2018-11-19 14:45:00       NaN  0.500093       NaN  0.064792
2018-11-19 15:45:00       NaN  0.603905       NaN  0.158112
2018-11-19 16:45:00       NaN       NaN       NaN       NaN
2018-11-19 17:45:00  0.094161       NaN  0.115978       NaN
2018-11-19 18:45:00  0.393532       NaN  0.110881       NaN
2018-11-19 19:45:00  0.826143       NaN       NaN  1.457055
2018-11-19 20:45:00       NaN       NaN       NaN       NaN
2018-11-19 21:45:00  0.431270  2.122598  0.406849  2.380241
2018-11-19 22:45:00       NaN       NaN  0.735481       NaN
2018-11-19 23:45:00       NaN  1.538079       NaN       NaN

### Setting

Combination of selection and setting of values

In [34]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [35]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.500093 -0.698843  5  0.0        0  1.000000
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  5  0.5        2  0.999962
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086  5  1.0        4  0.999848
2018-11-19 17:45:00  0.094161 -0.173355  0.115978  5  1.5        6  0.999657
2018-11-19 18:45:00  0.393532 -0.858410  0.110881  5  2.0        8  0.999391
2018-11-19 19:45:00  0.826143 -0.998163 -1.217725  5  2.5       10  0.999048
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385  5  3.0       12  0.998630
2018-11-19 21:45:00  0.431270  2.122598  0.406849  5  3.5       14  0.998135
2018-11-19 22:45:00 -0.577705 -0.556785  0.735481  5  4.0       16  0.997564
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563  5  4.5       18  0.996917

In [36]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.500093 -0.698843 -5  0.0        0 -1.000000
2018-11-19 15:45:00 -1.440347 -0.603905 -0.102954 -5 -0.5       -2 -0.999962
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086 -5 -1.0       -4 -0.999848
2018-11-19 17:45:00 -0.094161 -0.173355 -0.115978 -5 -1.5       -6 -0.999657
2018-11-19 18:45:00 -0.393532 -0.858410 -0.110881 -5 -2.0       -8 -0.999391
2018-11-19 19:45:00 -0.826143 -0.998163 -1.217725 -5 -2.5      -10 -0.999048
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385 -5 -3.0      -12 -0.998630
2018-11-19 21:45:00 -0.431270 -2.122598 -0.406849 -5 -3.5      -14 -0.998135
2018-11-19 22:45:00 -0.577705 -0.556785 -0.735481 -5 -4.0      -16 -0.997564
2018-11-19 23:45:00 -0.832261 -1.538079 -0.235563 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [37]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2018-11-19 14:45:00  0.000000  0.500093 -0.698843  5  0.0  1.000000
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  5  0.5  0.999962
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086  5  1.0  0.999848
2018-11-19 17:45:00  0.094161 -0.173355  0.115978  5  1.5  0.999657
2018-11-19 18:45:00  0.393532 -0.858410  0.110881  5  2.0  0.999391
2018-11-19 19:45:00  0.826143 -0.998163 -1.217725  5  2.5  0.999048
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385  5  3.0  0.998630
2018-11-19 21:45:00  0.431270  2.122598  0.406849  5  3.5  0.998135
2018-11-19 22:45:00 -0.577705 -0.556785  0.735481  5  4.0  0.997564
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563  5  4.5  0.996917

In [38]:
# Dropping by raws
# save and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.500093 -0.698843  5  0.0        0  1.000000
2018-11-19 19:45:00  0.826143 -0.998163 -1.217725  5  2.5       10  0.999048
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385  5  3.0       12  0.998630
2018-11-19 21:45:00  0.431270  2.122598  0.406849  5  3.5       14  0.998135
2018-11-19 22:45:00 -0.577705 -0.556785  0.735481  5  4.0       16  0.997564
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563  5  4.5       18  0.996917

In [39]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2018-11-19 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.500093 -0.698843  5  0.0        0  1.000000
2018-11-19 15:45:00 -1.440347  0.603905 -0.102954  5  0.5        2  0.999962
2018-11-19 16:45:00 -1.946685 -0.469822 -0.339086  5  1.0        4  0.999848
2018-11-19 17:45:00  0.094161 -0.173355  0.115978  5  1.5        6  0.999657
2018-11-19 18:45:00  0.393532 -0.858410  0.110881  5  2.0        8  0.999391
2018-11-19 19:45:00  0.826143 -0.998163 -1.217725  5  2.5       10  0.999048
2018-11-19 20:45:00 -0.288648 -0.729194 -0.027385  5  3.0       12  0.998630
2018-11-19 21:45:00  0.431270  2.122598  0.406849  5  3.5       14  0.998135
2018-11-19 23:45:00 -0.832261  1.538079 -0.235563  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [40]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN  0.500093       NaN  5  NaN      NaN  1.000000
2018-11-19 15:45:00       NaN  0.603905       NaN  5  0.5      2.0  0.999962
2018-11-19 16:45:00       NaN       NaN       NaN  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.094161       NaN  0.115978  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.393532       NaN  0.110881  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.826143       NaN       NaN  5  2.5     10.0  0.999048
2018-11-19 20:45:00       NaN       NaN       NaN  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.431270  2.122598  0.406849  5  3.5     14.0  0.998135
2018-11-19 22:45:00       NaN       NaN  0.735481  5  4.0     16.0  0.997564
2018-11-19 23:45:00       NaN  1.538079       NaN  5  4.5     18.0  0.996917

In [41]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                           A         B         C  D    E  E prime    cosine
2018-11-19 21:45:00  0.43127  2.122598  0.406849  5  3.5     14.0  0.998135

In [42]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2018-11-19 14:45:00   True  False   True  False   True     True   False
2018-11-19 15:45:00   True  False   True  False  False    False   False
2018-11-19 16:45:00   True   True   True  False  False    False   False
2018-11-19 17:45:00  False   True  False  False  False    False   False
2018-11-19 18:45:00  False   True  False  False  False    False   False
2018-11-19 19:45:00  False   True   True  False  False    False   False
2018-11-19 20:45:00   True   True   True  False  False    False   False
2018-11-19 21:45:00  False  False  False  False  False    False   False
2018-11-19 22:45:00   True   True  False  False  False    False   False
2018-11-19 23:45:00   True  False   True  False  False    False   False

In [43]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.500093  0.000000  5  0.0      0.0  1.000000
2018-11-19 15:45:00  0.000000  0.603905  0.000000  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.000000  0.000000  0.000000  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.094161  0.000000  0.115978  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.393532  0.000000  0.110881  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.826143  0.000000  0.000000  5  2.5     10.0  0.999048
2018-11-19 20:45:00  0.000000  0.000000  0.000000  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.431270  2.122598  0.406849  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.000000  0.000000  0.735481  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.000000  1.538079  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [44]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN  0.500093       NaN  5  NaN      NaN  1.000000
2018-11-19 15:45:00       NaN  0.603905       NaN  5  0.5      2.0  0.999962
2018-11-19 16:45:00       NaN  0.603905       NaN  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.094161  0.603905  0.115978  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.393532  0.603905  0.110881  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.826143  0.603905  0.110881  5  2.5     10.0  0.999048
2018-11-19 20:45:00  0.826143  0.603905  0.110881  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.431270  2.122598  0.406849  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.431270  2.122598  0.735481  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.431270  1.538079  0.735481  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [45]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A         -0.334054
B          0.097894
C         -0.125237
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2018-11-19 14:45:00    0.828750
2018-11-19 15:45:00    1.080081
2018-11-19 16:45:00    1.177751
2018-11-19 17:45:00    1.933777
2018-11-19 18:45:00    2.235056
2018-11-19 19:45:00    2.444186
2018-11-19 20:45:00    2.850486
2018-11-19 21:45:00    3.779836
2018-11-19 22:45:00    3.656936
2018-11-19 23:45:00    4.138167
Freq: H, dtype: float64

In [46]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.500093 -0.698843   5   0.0        0  1.000000
2018-11-19 15:45:00 -1.440347  1.103997 -0.801797  10   0.5        2  1.999962
2018-11-19 16:45:00 -3.387032  0.634175 -1.140883  15   1.5        6  2.999810
2018-11-19 17:45:00 -3.292871  0.460820 -1.024905  20   3.0       12  3.999467
2018-11-19 18:45:00 -2.899339 -0.397591 -0.914024  25   5.0       20  4.998858
2018-11-19 19:45:00 -2.073196 -1.395753 -2.131749  30   7.5       30  5.997906
2018-11-19 20:45:00 -2.361844 -2.124947 -2.159134  35  10.5       42  6.996536
2018-11-19 21:45:00 -1.930574 -0.002349 -1.752285  40  14.0       56  7.994670
2018-11-19 22:45:00 -2.508280 -0.559134 -1.016803  45  18.0       72  8.992234
2018-11-19 23:45:00 -3.340541  0.978945 -1.252366  50  22.5       90  9.989152

In [47]:
df.apply(lambda x: x.max() - x.min())

A           2.772828
B           3.120761
C           1.953206
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [48]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2018-11-19 14:45:00    0.500093
2018-11-19 15:45:00   -0.836442
2018-11-19 16:45:00   -2.416508
2018-11-19 17:45:00   -0.079195
2018-11-19 18:45:00   -0.464878
2018-11-19 19:45:00   -0.172020
2018-11-19 20:45:00   -1.017841
2018-11-19 21:45:00    2.553868
2018-11-19 22:45:00   -1.134491
2018-11-19 23:45:00    0.705818
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [49]:
file_name="C:/Users/Mohammad/Desktop/HLP/data/data_000557.txt"
data=pd.read_csv(file_name)
data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0           64  3866504704        2748        29
1           1     0           63  3866504704        2750        10
2           1     1           17  3866504704        2992        21
3           1     1          139  3866504704        2996         0
4           1     1           19  3866504704        2989        10
5           1     1           18  3866504704        2994        14
6           1     0           63  3866504704        2999        21
7           1     1           20  3866504704        2994         8
8           1     0           53  3866504704        3087        16
9           1     0           57  3866504704        3089        18
10          1     0          121  3866504704        3087        11
11          1     0           26  3866504704        3085        25
12          1     0           64  3866504704        3092        22
13          1     1           20  3866504704        3089        17
14          1     0          139  3866504704        3094         0
15          1     0           23  3866504704        3098        14
16          1     0           58  3866504704        3091        16
17          1     0           28  3866504704        3098         7
18          1     0           63  3866504704        3093        11
19          1     1           18  3866504704        3099         0
20          1     0           56  3866504704        3094        29
21          1     0           57  3866504704        3093        27
22          1     0           59  3866504704        3095         1
23          1     0           63  3866504704        3116         7
24          1     0           64  3866504704        3118        26
25          1     0           63  3866504704        3126        28
26          1     0           64  3866504704        3128         7
27          1     0           70  3866504704        3162        24
28          1     0           84  3866504704        3175        26
29          1     0           77  3866504704        3183         9
...       ...   ...          ...         ...         ...       ...
1310690     1     1            4  3866625877        1501        10
1310691     1     1            3  3866625877        1507         0
1310692     1     0          120  3866625877        1796         5
1310693     1     1           28  3866625877        1806         4
1310694     1     0          116  3866625877        1797        25
1310695     1     1           61  3866625877        2041        12
1310696     1     1           62  3866625877        2044        15
1310697     1     1           63  3866625877        2046         0
1310698     1     0           64  3866625877        2321         7
1310699     1     0           64  3866625877        2332        12
1310700     1     0           45  3866625877        2359        27
1310701     1     1            3  3866625877        2360        12
1310702     1     0          139  3866625877        2361         0
1310703     1     1           55  3866625877        2358        23
1310704     1     0           58  3866625877        2357        12
1310705     1     1          139  3866625877        2367         0
1310706     1     1           26  3866625877        2360         1
1310707     1     0           64  3866625877        2357        23
1310708     1     1            4  3866625877        2363         7
1310709     1     1           54  3866625877        2362        27
1310710     1     0           47  3866625877        2359         9
1310711     1     1           16  3866625877        2365         5
1310712     1     1           56  3866625877        2364        14
1310713     1     0           60  3866625877        2357         9
1310714     1     1           24  3866625877        2370         5
1310715     1     0           48  3866625877        2360        10
1310716     1     1            1  3866625877        2365        11
1310717     1     0           50  3866625877        2367        23
1310718     1     1            2  3866625877        2367         3
1310719     1     0           46  3866625877        2363        12

[1310720 rows x 6 columns]

Let's know do some operations among (elements of) columns

In [50]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [51]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

#data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding raws) is straightforward

In [52]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0  0.026217 -0.778645  0.264413 -1.681842
1  0.227410  0.468451 -1.198873 -0.217448
2  0.226882 -0.925605  0.826220 -1.411630
3 -1.025221 -0.262800 -0.904327 -1.027740
4  0.006464 -0.583483 -0.135592 -0.728819
5  0.059269  1.098759 -0.935176  0.642687
6  0.558157  0.303094 -0.069640  0.738647
7  0.613305 -2.700576  0.731753  0.866081
8  0.293445 -1.184249 -2.201389 -0.835544
9  0.810191 -0.590392  0.162231 -0.622437

In [53]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0  0.026217 -0.778645  0.264413 -1.681842
 1  0.227410  0.468451 -1.198873 -0.217448
 2  0.226882 -0.925605  0.826220 -1.411630,
           0         1         2         3
 3 -1.025221 -0.262800 -0.904327 -1.027740
 4  0.006464 -0.583483 -0.135592 -0.728819
 5  0.059269  1.098759 -0.935176  0.642687
 6  0.558157  0.303094 -0.069640  0.738647,
           0         1         2         3
 7  0.613305 -2.700576  0.731753  0.866081
 8  0.293445 -1.184249 -2.201389 -0.835544
 9  0.810191 -0.590392  0.162231 -0.622437]

In [54]:
# put it back together
pd.concat(pieces)

# indexes can be ignored
#pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0  0.026217 -0.778645  0.264413 -1.681842
1  0.227410  0.468451 -1.198873 -0.217448
2  0.226882 -0.925605  0.826220 -1.411630
3 -1.025221 -0.262800 -0.904327 -1.027740
4  0.006464 -0.583483 -0.135592 -0.728819
5  0.059269  1.098759 -0.935176  0.642687
6  0.558157  0.303094 -0.069640  0.738647
7  0.613305 -2.700576  0.731753  0.866081
8  0.293445 -1.184249 -2.201389 -0.835544
9  0.810191 -0.590392  0.162231 -0.622437

In [55]:
# appending a single raw (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)

           0         1         2         3
0   0.026217 -0.778645  0.264413 -1.681842
1   0.227410  0.468451 -1.198873 -0.217448
2   0.226882 -0.925605  0.826220 -1.411630
3  -1.025221 -0.262800 -0.904327 -1.027740
4   0.006464 -0.583483 -0.135592 -0.728819
5   0.059269  1.098759 -0.935176  0.642687
6   0.558157  0.303094 -0.069640  0.738647
7   0.613305 -2.700576  0.731753  0.866081
8   0.293445 -1.184249 -2.201389 -0.835544
9   0.810191 -0.590392  0.162231 -0.622437
10 -1.025221 -0.262800 -0.904327 -1.027740

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [56]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [57]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one -0.949592 -0.357251
1  bar    one  0.127908  0.512225
2  foo    two -1.301854  0.688801
3  bar  three -1.330444 -0.089141
4  foo    two -2.107622  1.237422
5  bar    two  1.802739  0.114452
6  foo    one  0.615331 -2.115876
7  foo  three  0.976191  0.497926

In [58]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

            C         D
A
bar  0.600203  0.537536
foo -2.767545 -0.048977

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [61]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

first  second
bar    one      -0.337732
       two      -1.038998
baz    one       0.899759
       two       0.866665
foo    one      -2.650065
       two      -0.343724
qux    one      -0.204009
       two       0.430104
dtype: float64

In [62]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.127908  0.512225
    three -1.330444 -0.089141
    two    1.802739  0.114452
foo one   -0.334261 -2.473127
    three  0.976191  0.497926
    two   -3.409475  1.926223

In [63]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

A    B
bar  one    C    0.127908
            D    0.512225
     three  C   -1.330444
            D   -0.089141
     two    C    1.802739
            D    0.114452
foo  one    C   -0.334261
            D   -2.473127
     three  C    0.976191
            D    0.497926
     two    C   -3.409475
            D    1.926223
dtype: float64

## Plotting

Just a preview, more on the next lab class!

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')